<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<div th:replace="manager/header :: header"></div>
<body>
<div th:replace="manager/header :: navbar"></div>
<br /><br />
<div class="container">
    <h1>Rejected Posts</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <!--            postId, creationTime, title, descriptionField, postContent, statusId, publishDate, editTime, expireDate, statusId, statusName-->
            <th scope="col">ID</th>
            <th scope="col">Creation Time</th>
            <th scope="col">Title</th>
            <th scope="col">Description Field</th>
            <th scope="col">Edit Time</th>
            <th scope="col">Status Name</th>
            <th scope="col">Edit</th>
            <th scope="col">Resubmit</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="post : ${posts}">
            <td th:text="${post.postId}"> </td>
            <td th:text="${post.creationTime}"></td>
            <td th:text="${post.title}"></td>
            <td th:text="${post.description}"></td>
            <td th:text="${post.editTime}"></td>
            <td th:text="${post.status}" ></td>
            <td>
                <button type="button" class="btn btn-primary">
                    <a href="/" style="color: white; text-decoration: none;" th:href="@{/manager/editPost/{postUrl}(postUrl=${post.postId})}">Edit</a>
                </button>
            </td>
              
            <td>
                <button type="button" class="btn btn-warning">
                    <a href="/" style="color: white; text-decoration: none;" th:href="@{/manager/rejected/resubmit/{postUrl}(postUrl=${post.postId})}">Resubmit</a>
                </button>
            </td>

            <td>
                <button type="button" class="btn btn-danger">
                    <a href="/" style="color: white; text-decoration: none;" th:href="@{/manager/deletePost/{postUrl}(postUrl=${post.postId})}">Delete</a>
                </button>
            </td>

        </tr>
        </tbody>
    </table>
</div>
<div th:replace="blog/footer :: footer"></div>
</body>
</html>
